.logo {
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 2;
    border-radius: 50%;
    box-shadow: 0 0 6px 2px #13c2c2;
    background: black;
    transition: box-shadow 1s linear;
    animation: shine 2s infinite;
}

@keyframes shine {
    0% {
        box-shadow: 0 0 10px 2px #13c2c2;
    }
    50% {
        box-shadow: 0 0 20px 2px #13c2c2;
    }
    100% {
        box-shadow: 0 0 10px 2px #13c2c2;
    }
}