.ant-comment-content-author > span {
    font-size: 16px !important;
}

.ant-comment-content-author > .ant-comment-content-author-time{
    font-size: 14px !important;
}

.ant-comment-avatar img {
    width: 40px !important;
    height: 40px !important;
}

