.container {
    padding-top: 55px;
    padding-bottom: 55px;
}

.h1 {
    font-size: 50px;
}

.caption {
    display: flex;
    margin-right: 20px;
    flex-direction: column;
}

.author {
    display: flex;
    margin-top: 1rem;
}

.captionHeading {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 854px) {
    .h1 {
        font-size: 40px;
    }
}