.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #252630;
    height: 800px;
}

.title, .description {
    color: white !important;
    margin-top: 1em;
}

.description {
    text-align: center;
}

.btnGroup {
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin-top: 3em;
}

.btn {
    background: #000000 !important;
    border-color: #000000 !important;
}

.btn:hover {
    background: #13c2c2 !important;
    border-color: #13c2c2 !important;
}

.blank {
    height: 10em;
}

.contestContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
}

.contest{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}