.container{
    display: flex;
    height: 30em;
    background: #252630;
    color: white !important;

    flex-direction: column;
    align-items: center;
}

.title{
    color: white !important;
}

.itemsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    flex-wrap: wrap;
}

.items{
    padding: 0;
}

.item{
    list-style-type: none;
}

.blank{
    height: 5em;
}