@import "./index.module.scss";
.contestList {
    width: 100%;
    .nameCol {
        max-width: 350px;
    }
    @media screen and (max-width: 1080px) {
        .tagsCol {
            max-width: 250px;
        }
    }
    @media screen and (max-width: 768px) {
        .tagsCol {
            max-width: 250px;
        }
    }
}