@use '../../../global.scss';
.btn {
    background: global.$pure-black !important;
    border-color: global.$pure-black !important;
    &:hover {
        background: global.$cyan !important;
        border-color: global.$cyan !important;
    }
    .anchor {
        margin-left: 5px;
        text-decoration: none;
        color: white;
    }
}

.sectionContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    .displayItem,
    .department {
        margin-top: 3em;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .department,
    .displayItem {
        width: 21%;
    }
    .subSectionContainer {
        flex: 1;
        margin-left: 10px;
        margin-right: 10px;
    }
    .imgScale {
        transform: scale(1);
        transition: transform 0.5s;
        &:hover {
            transform: scale(1.1);
        }
    }
    @media screen and (max-width: 1080px) {
        .department,
        .displayItem {
            width: 45%;
        }
    }
    @media screen and (max-width: 768px) {
        .department,
        .displayItem {
            width: 100%;
        }
        .subSectionContainer {
            flex: 0 1 auto;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.mobile {
    display: none !important;
}

.section {
    width: 85%;
    background-color: global.$body-white !important;
}

@media screen and (max-width: 768px) {
    .mobile {
        display: block !important;
    }
    .section {
        width: 80%;
    }
}