.title{
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FBF9F8;
    height: 800px;
}

.blank{
    height: 10em;
}

.banner{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}