.description{

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blank{
    height: 10em;
}

.banner{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    .description{
        width: 80%;
    }
}