p, li {
    font-size: 16px;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Noto Sans CJK SC,Arial,Helvetica Neue !important;
    background: #FBF9F8 !important;
}

img {
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0);
}