$pure-white: #ffffff;
$light-white: #e2e2e2;
$body-white: #FBF9F8;
$pure-black: #000000;
$gray-black: #252630;
$light-black: #383a49;
$cyan: #13c2c2;
$light-cyan: #11c2c2;
$deep-cyan: #108397;
$purple: #9b59b6;